form.form-group
	label Full Name
	input.form-control#name(placeholder="Name",name="full-name")
form.form-group
	label Email Address
	input.form-control#sku(placeholder="Email Address",name="email")
form.form-group.hide
	label Price
	input.form-control#price(placeholder="Price",name="description")
form.form-group
	label Your welcome wish
	textarea.form-control(placeholder="Please be nice. :)",name="description")
.pull-right
	button.btn.btn-primary.disabled#saveProductButton(type="button") Save Product
	button.btn.btn-default#cancelButton(type="button") Cancel
.clear
